{% extends 'base.html' %}
{% block mainbody %}
<br>
<br>
<br>
<br>
<div class="container">
<div class="row  justify-content-center">
<h1>
借阅图书
</h1>
</div>
<div class="row  justify-content-center">
<h5>
你也可以在图书详情页面选择图书进行借阅
</h5>
</div>
<hr class="col-md-8"/>
<div class="row  justify-content-center">
<form action="" method="post" class="col-md-8">
{% csrf_token %}
<div class="form-group">
<label for="bookitem_id">Book ID</label>
<input type="number" class="form-control" name="id" id="bookitem_id">
</div>
<button type="submit" class="btn btn-primary">借阅</button>
</form>
</div>
</div>
{% endblock mainbody %}