{% extends 'base.html' %}
{% block mainbody %}
{% load crispy_forms_tags %}

<div class = "container">
{% if form.errors %}
<div class="alert alert-danger" role="alert">Your username and password didn't match. Please try again.</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</div>
    {% else %}
    <div class="alert alert-warning" role="alert">Please login to see this page.</div>
    {% endif %}
{% endif %}

<div class="row justify-content-md-center"> 
<div class="col-5">
<form method="post" action="">
{% csrf_token %}
{{form|crispy}}
<input type="submit" class="btn btn-block btn-primary" value="登陆">
<input type="hidden" name="next" value="{{ next }}">
</form>
</div>
</div>
</div>
{% endblock mainbody %}