{% extends 'base.html' %}
{% block mainbody %}
{% load crispy_forms_tags %}
        <div class="container">
                    <div class="row justify-content-md-center"> 
                    <form class="form" action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
								{{ field | as_crispy_field }}
						{% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">注册</button>
                    </form>
                    </div>
        </div>
{% endblock mainbody %}
    